{% extends 'base.html' %}

{% block head %}
<title>Sync</title>
{% endblock %}




{% block body %}

<div id="header">
  <button id="syncButton" onclick="beginSync()">Sync</button>
</div>



<div id="library">

  <ul>
    {% for author_key, author_value in library.items() %}
    
    <li>{{author_key}}</li>

    <ul>

      
      {% for book_key, book_value in author_value.items() %}
      
      <li
      {% if book_value['previously_synced'] == 1 %}
      class="previouslySynced"
      {% else %}
      class="notSynced"
      {% endif %}
      
      id="{{author_key}}/{{book_key}}"
      
      onclick="toggleItem(this)"
      
      >
      {{book_key}} ({{book_value['book_length']}}, {{book_value['book_file_size_MB']}} MB)
      
        {% if book_value['previously_synced'] == 1 %}
          {% if book_value['previously_synced_file_size_correct'] == True %}
          <em>(File sizes match between source and destination)</em>
          {% else %}
          <em><b>(File sizes do not match between source and destination)</b></em>
          {% endif %}
        {% endif %}

      </li>
      
      {% endfor %}
    </ul>
    
    {% endfor %}
  </ul>
    
</div>


<script>
  function beginSync() {
    let syncList = {
      toBeSynced: [],
      toBeRemoved: []
    };

    [...document.getElementsByClassName("toBeSynced")].forEach(function (arrayItem) {
      syncList.toBeSynced.push(arrayItem.id);
      arrayItem.className = "previouslySynced";
    });
    
    [...document.getElementsByClassName("toBeRemoved")].forEach(function (arrayItem) {
      syncList.toBeRemoved.push(arrayItem.id);
      arrayItem.className = "notSynced";
    });

    fetch("http://192.168.1.2:5300/sync_folders", {
      mode: 'no-cors',
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify(syncList),
    })
  }

  function toggleItem(item) {
    console.log(item);

    switch(item.className) {
      case "toBeSynced":
        item.className = "notSynced";
        break;
        
      case "notSynced":
        item.className = "toBeSynced";
        break;

      case "previouslySynced":
        item.className = "toBeRemoved";
        break;

      case "toBeRemoved":
        item.className = "previouslySynced";
        break;

      default:
        console.log("No matches");
    }
  }
</script>

{% endblock %}